# Exploratory analysis on the dataset

We try understand why this dataset is important for analysis and how worthy this analysis can be. First, we make use of the overdoses.csv file for our analysis.

In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly.tools as tls

In [2]:
tls.set_credentials_file(username='anikamal', api_key='BSWmdlJFrie24url3SK4')
# set the credentials

In [3]:
df = pd.read_csv("data\\overdoses.csv")
# read the CSV file into python
df.head(10)

         State  Population  Deaths Abbrev
0      Alabama     4833722     723     AL
1       Alaska      735132     124     AK
2      Arizona     6626624    1211     AZ
3     Arkansas     2959373     356     AR
4   California    38332521    4521     CA
5     Colorado     5268367     899     CO
6  Connecticut     3596080     623     CT
7     Delaware      925749     189     DE
8      Florida    19552860    2634     FL
9      Georgia     9992167    1206     GA

In [4]:
df.sort_values(by = 'Population', ascending=False, inplace = True)
# sort dataframe based on the deaths

In [5]:
df['Death/Population'] = df['Deaths']/df['Population']*100
# find the death/population ratio

In [6]:
df['Text'] = 'State: ' + df['State'] + '<br>' + 'Population: ' + df['Population'].astype(str) + '<br>' + 'Deaths: ' + df['Deaths'].astype(str)
# text to be added to graph

In [7]:

data = [ dict(
        type='choropleth',
        autocolorscale = True,
        locations = df['Abbrev'],
        z = df['Deaths'],
        locationmode = 'USA-states',
        text = df['Text'],
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            ) ),
        colorbar = dict(
            title = "Death count")
        ) ]

layout = dict(
        title = 'Opiate affected states in 2014',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = False,
            lakecolor = 'rgb(255, 255, 255)'),
             )
    
fig = dict( data=data, layout=layout )
py.iplot( fig, filename='d3-cloropleth-map' )